<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>

  <connectionStrings>
    <!--Production
    <add name="DefaultConnection" connectionString="Data Source=192.168.122.11;Initial Catalog=epicor905;User ID=sa;Password=sp3@rm1nt" providerName="System.Data.SqlClient"/>
    <add name="EpicorAppServer" connectionString="AppServerDC://192.168.122.11:9401"/>-->
    <!--Test-->
    <add name="DefaultConnection" connectionString="Data Source=192.168.122.11;Initial Catalog=EpicorTest905;User ID=sa;Password=sp3@rm1nt" providerName="System.Data.SqlClient"/>
    <add name="EpicorAppServer" connectionString="AppServerDC://192.168.122.11:9421"/>

    <!--<add name="DefaultConnection" connectionString="Data Source=192.168.122.12;Initial Catalog=epicor905;User ID=sa;Password=EpicAdmin@1" providerName="System.Data.SqlClient"/>
    <add name="EpicorAppServer" connectionString="AppServerDC://192.168.122.12:9401"/>-->
  </connectionStrings>
</configuration>
